* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Temporary styles */

* {
    padding: 0.5rem;
    border: 2px solid rgb(200,200,200);
}

html, body {
    border: none;
}

h1, h2, h3, h4, h5, h6, p, a {
    border: 2px solid rgb(216, 142, 142);
}

.bg-image {
    background-color:rgb(243, 233, 174)
}

/* End temporary styles */